body{

    margin: 0px;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
  
  }
  
.navigation{
   margin-top: 20px;;
   display: flex;
   flex-direction: column;
    background-color:  #cfc9c8;
  text-decoration:none; 
  border-radius: 10px;
    font-size: 23px;
    color:black;
    width: 30%;
    text-align: center;
    margin-left: 30%;
   
  }
  


  h1{
      font-size: 80px;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
}
h2{
    font-size: 55px ;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
h3{
    font-size: 40;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.color-text{
    color: orange;
}
.color-text2{
    color: rgb(158, 97, 97);
}



.flexible-area{

    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-bottom: 35px;
}
.half-width{
    width:  50%;
  padding: 8%;

  
}
.half-width1 img{

    width: 50%;
   padding: 5%;
   margin-left: 240px;
  
}
.half-width img{
    width: 130%;
    margin-right: 400px;
}

.link-button{
    color: wheat;
    text-decoration:none;
    background-image: linear-gradient(salmon,rgb(255, 115, 0));
    padding: 27px 39px;
    border-radius: 40px;
    font-weight: 800;
    
    }
.about-me-background{
        background-image: url(images/shapes/7.png);
        background-repeat: no-repeat;
     background-size: cover;
     

    }
    .flexible-area1{
        display: flex;
    flex-direction: row;
    align-items: center; 
   
    
    }
  
    .center-text{
        text-align: center;
        border-left:10px ;
        border-right:10px ;
    }
    .recipe-box{
        display: flex;
        margin-bottom: 50px;
        margin-top: 100px;
        max-width:85% ;
        max-height:100%;
    }
        
    .one-third-width{

        
       box-shadow:  10px 20px 30px rgb(180, 175, 175);
      width:30%;
      margin-left: 8%;
      margin-right: 7%;
      border-radius: 20px;
      
    }
    
.one-third-width img{
    text-align: center;
  padding: 10px 20px;
 
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 375px;
            height:320px;
            border: solid 0px #CCC;
           
}
 
.follower{
    box-shadow:  10px 20px 30px rgb(180, 175, 175);
    width:80%;
    background-color:  #fbfbfb;
   text-align: center;
    border-radius: 20px;
    display: flex;
    margin-bottom: 5%;
    height: 130px;
    margin-left: 10%;
    margin-top: 10%
 ;
}
.follower2{
    align-items: center;
    margin-left: 15%;
   font-size: 2.1vh;
   }
   .contact-section{
    margin-left: 36%;
    border-radius: 10px;
    background-image: linear-gradient(salmon,rgb(83, 42, 8));
    background-repeat: no-repeat;
 background-size: cover;
 width:25%;
 height: 30%;
 

}
       
.footer-design{
    box-shadow:  10px 20px 30px rgb(180, 175, 175);
    width:100%;
    background-color:  #7e4137;
   text-align: center;
    border-radius: 20px;
}