body{

    margin: 0px;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
  
  }
  
.navi{
   margin-top: 30px;;
   display: flex;
   flex-direction: column;
    background-color:  #e9e5e5;
  text-decoration:none; 
  border-radius: 10px;
    font-size: 20px;
    color:black;
   
  }
  


  h1{
      font-size: 61.5px;
}
h2{
    font-size: 41px ;
}
.orange-color{
    color: orange;
}


.flexible-area{

    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-bottom: 50px;
}
.half-width{
    width:  50%;
  padding: 8%;
 
  
}
.half-width1 img{

    width:  40%;
   padding: 5%;
   margin-left: 240px;
  
}
.half-width img{
    width: 100%;
    margin-right: 200px;
}

.link-button{
    color: wheat;
    text-decoration:none;
    background-image: linear-gradient(salmon,rgb(255, 115, 0));
    padding: 15px 35px;
    border-radius: 40px;
    font-weight: 800;
    
    }
.about-me-background{
        background-image: url(images/shapes/7.png);
        background-repeat: no-repeat;
     background-size: cover;
     

    }
    .flexible-area1{
        display: flex;
    flex-direction: row;
    align-items: center; 
   
    
    }
  
    

   